# Introduction

## Variable types

Ο τύπος μιας μεταβλητής στην Python αναγνωρίζεται αυτόματα. Δεν χρειάζεται χειροκίνητη δήλωση.

In [ ]:
x = 5  # integer
print("x = {} \t type : {}".format(x, type(x)))

x = 5.0  # float
print("x = {} \t type : {}".format(x, type(x)))

x = 5 + 6j  # complex
print("x = {} \t type : {}".format(x, type(x)))

x = "Hello World"  # string
print("x = {} \t type : {}".format(x, type(x)))

x = True  # boolean
print("x = {} \t type : {}".format(x, type(x)))

## Type Casting

Όπως και στις περισσότερες γλώσσες μπορείς να μετατρέπεις μεταβλητές απο έναν τύπο σε έναν άλλον

In [ ]:
# convert a float to an int

x = int(25.0) 
print("x = {} \t type : {}".format(x, type(x)))

In [ ]:
# convert a float to string

x = "My age is " + str(25.0)
print(x)

## Operators

Arithmetic operators


*   +, -
*   *, /
*   %
*   **, //

In [ ]:
x,y = 10, 6

In [ ]:
x % y

In [ ]:
x ** y  # exponentiation

In [ ]:
x // y  # floor division

Assignment operators


*   =
*   +=, -=
*   *=, /=
*   %=
*   **=, //=

In [ ]:
x = 1

In [ ]:
x += 1  # there are no ++,-- operators in python
x

In [ ]:
x **= 2
x

Comparison operators


*   ==, !=
*   <, >
*   <=, >=

In [ ]:
x,y = 10, 6

In [ ]:
x == y

In [ ]:
x != y

Logical operators


*   and
*   or
*   not

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
not True

Membership operators


*   in
*   not in

In [ ]:
x = "Hello world"

print('wor' in x)  # true if a sequence with a specified value is present
print('Hello' not in x)  # true if a sequence with a specified value is NOT present

Identity operators

*  is
*  is not

In [ ]:
x = 260
y = 260

print( y == x)

# x and y are equal but are different objects 
# i.e., not stored in the same memory address
print(y is x)
print(y is not x)

## Input - Output

Η python υποστηρίζει εισαγωγή δεδομένων απο το πληκτρολόγιο και εμφάνιση μηνυμάτων στην οθόνη.

In [ ]:
# get and print user input

x = input("What is your age ")
print("My age is ", x)

print("Type of input: ", type(x))  # input() always returns a string

In [ ]:
# so, sometimes you need to convert user input

x = int(input("What is your age "))
print("In 10 years you will be", x + 10)

# Built-in Data Structures



*   list = [1, 2, 3, 4, 5]

*   tuple = (1, 2, 3, 4, 5)

*   set = {1, 2, 3, 4, 5}

*   dictionary = {"key" : "val"}

## Lists


*   ordered
*   indexed
*   mutable
*   heterogeneous
*   allow duplicate values

> Create a list

In [ ]:
# create an empty list

myList = []
print(type(myList))

#  or

myList = list()
print(type(myList))

In [ ]:
# create a non-empty list

myList = [1, 'Hello World', 25.0, True]
print(myList)

# or

myList = list((1, 'Hello World', 25.0, True))
print(myList)

> Unpack a list

In [ ]:
# unpack = extract items into variables

(a,b,c,d) = myList
print(a,b,c,d)

# If the number of variables is less than the number 
# of items, you can add an * to the last variable, which
# will become a  list with the rest of the items
(a,*b) = myList
print(a,b)


> Add items

In [ ]:
# add an item to the end of the list

myList.append('Another Item')
print(myList)

In [ ]:
# insert an item at a specified index

myList.insert(3, 'Here')
print(myList)

In [ ]:
# the extend() method inserts the items of an iterable(list,tuple,set,string,range) into the list

myList.extend(["This", "is", "another","list"])  
print(myList)

myList.extend(range(5))  
print(myList)



> Remove items

In [ ]:
# remove the item found at a specified index

myList.pop()  # removes last item
myList.pop(2)  # removes item at position 2
print(myList)

In [ ]:
# also remove the item found at a specified index

del myList[0]
print(myList)

In [ ]:
# remove the specified item

myList.remove('Here')
print(myList)



> Join lists

In [ ]:
# using the + operator

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

list1 + list2

In [ ]:
# unpacking the lists to a new list

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

[*list1, *list2]

> Access and change a list

In [ ]:
# access an item

myList = [1, 2, 3 ,4 ,5 , 6]

print(myList[2])
print(myList[-1])
print(myList[-2])

In [ ]:
# change an item

myList[-2] = "Changed"
print(myList)

In [ ]:
# access a slice of the list

myList = [1, 2, 3 ,4 ,5 , 6]

print(myList[1:3])
print(myList[:4])
print(myList[2:])
print(myList[3:-1])

In [ ]:
# change a slice of the list

myList[1:3] = ["Changed", "Changed"] 
myList



> Clear or delete a list

In [ ]:
# empty a list

myList = [1, 2, 3 ,4 ,5 , 6]

myList.clear()
myList

In [ ]:
# empty a list

myList = [1, 2, 3 ,4 ,5 , 6]

myList = []
myList

In [ ]:
# empty part of the list

myList = [1, 2, 3 ,4 ,5 , 6]

myList[0:3] = []
myList

In [ ]:
# delete list

myList = [1, 2, 3 ,4 ,5 , 6]

del myList
myList  # error -> myList is not defined

In [ ]:
# delete part of the list

myList = [1, 2, 3 ,4 ,5 , 6]

del myList[0:3]
myList

> Additional list methods

In [ ]:
myList = [25,1,3,100,8,1,10000]

count = myList.count(1)  # count occurences if 1 in the list
print(count)

myList.sort()  # sort the list
print(myList)

myList.reverse()  # reverse the list
print(myList)

## Tuples

*   ordered
*   indexed
*   **immutable**
*   heterogeneous
*   allow duplicate values

> Create a tuple

In [ ]:
# create an empty tuple

myTuple = ()
print(type(myTuple))

# or

myTuple = tuple()
print(type(myTuple))

In [ ]:
# create a non-empty tuple

myTuple = (1, 'Hello World', 25.0, True, [1,2,3,4], True)
print(myTuple)

# or

myTuple = tuple((1, 'Hello World', 25.0, True, [1,2,3,4], True))
print(myTuple)

> Unpack a tuple

In [ ]:
myTuple = (1, 2, 3, 4, 5, 6)

(a, b, c, d, e, f) = myTuple
print(a,b,c,d,e,f)

(a,*b) = myTuple
print(a,b)

> Access a tuple

In [ ]:
myTuple = (1, 'Hello World', 25.0, True, [1,2,3,4], True)

# access an item
print(myTuple[2])
print(myTuple[4][2:])
print(myTuple[-1], '\n')

# access a slice of the list
print(myTuple[1:3])
print(myTuple[:4])
print(myTuple[3:-1])

In [ ]:
# check if an item is or is not in a tuple (same for lists)

toFind = [1,2,3,4]

print(toFind in myTuple)
print(toFind not in myTuple)

In [ ]:
# get the index of an item (same for lists)

index = myTuple.index(toFind)
index

> Join tuples

In [ ]:
# using the + operator

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

tuple1 + tuple2

In [ ]:
# unpacking the tuples to a new tuple

tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

(*tuple1, *tuple2)



> Clear or delete a tuple

In [ ]:
# empty a tuple

myTuple = (1, 2, 3 ,4 ,5 , 6)

myTuple = ()
myTuple

In [ ]:
# empty a tuple

myTuple = (1, 2, 3 ,4 ,5 , 6)

myTuple = tuple()
myTuple

In [ ]:
# delete a tuple

myTuple = (1, 2, 3 ,4 ,5 , 6)

del myTuple
myTuple  # error -> myTuple is not defined

In [ ]:
# tuples do not support item deletion

myTuple = (1, 2, 3 ,4 ,5 , 6)

del myTuple[0:3]
myTuple  # error -> tuple does not support item deletion

## Dictionaries

*   ordered * (as of python version 3.7)
*   indexed
*   mutable
*   heterogeneous
*   **do not** allow duplicate values

> Create a dictionary

In [ ]:
# create an empty dictionary

myDict = {}
print(type(myDict))

# or

myDict = dict()
print(type(myDict))

In [ ]:
myDict = {
  "integer" : 1,
  25.0 : "float",
  "myList" : [(2,4,6),(1,3,5)],
  "myNestedDict" : {"names" : ["nick", "john", "mary"]}
}

print(myDict)
print(type(myDict))

# or

myDict = dict([
  ("integer", 1),
  (25.0, "float"),
  ("myList", [(2,4,6),(1,3,5)]),
  ("myNestedDict", {"names" : ["nick", "john", "mary"]})
])
  
print(myDict)
print(type(myDict))

# or

keys = ["integer", 25.0,"myList","myNestedDict"]
vals = [1,"float",[(2,4,6),(1,3,5)],{"names" : ["nick", "john", "mary"]}]

myDict = dict(zip(keys, vals))

print(myDict)
print(type(myDict))


> Add items

In [ ]:
# using a new index key and assigning a value to it

myDict["key"] = "val"
myDict

In [ ]:
# using the update() method

myDict.update({"Another Key" : "Another Val"})
myDict



> Remove items

In [ ]:
# remove the item found under a specified key

myDict.pop("key")
myDict

In [ ]:
# also remove the item under a specified key

del myDict["integer"]
myDict

In [ ]:
myDict.popitem()  # remove last inserted item
myDict

> Join dictionaries

In [ ]:
# unpacking the dictionaries to a new dictionary

dict1 = {"key1" : "val1", "key2" : "val2"}
dict2 = {"key3" : "val3"}

{**dict1, **dict2}

> Access a dictionary

In [ ]:
myDict = {
  "integer" : 1,
  25.0 : "float",
  "myList" : [(2,4,6),(1,3,5)],
  "myNestedDict" : {"names" : ["nick", "john", "mary"]}
}

# access an item
print(myDict[25.0])
print(myDict.get(25.0))

# access nested items
print(myDict["myList"])  # access myList
print(myDict["myList"][1])  # access second tuple of myList
print(myDict["myList"][1][0])  # access first item of second tuple of myList

In [ ]:
# get the keys of a dictionary

keys = myDict.keys()
print(keys)

# or

keys = list(myDict)
print(keys)

# or

(a,b,c,d) = myDict  # unpacking
print(a,b,c,d)

# or

(*b,) = myDict  # unpacking
print(b)

# or

[*b] = myDict  # unpacking
print(b)

In [ ]:
# get the values of a dictionary

values = myDict.values()
values

In [ ]:
# get the items of a dictionary

items = myDict.items()
items

In [ ]:
# check if a key is or is not in a dictionary

print("myList" in myDict)
print("myList" not in myDict)

> Change a dictionary

In [ ]:
# using the keys

myDict["myNestedDict"]["names"][1] = "Changed"
myDict

In [ ]:
# using the update() method

myDict.update({"myList" : []})
myDict



> Clear or delete a dictionary

In [ ]:
# empty a dictionary

myDict = {
  "integer" : 1,
  25.0 : "float",
  "myList" : [(2,4,6),(1,3,5)],
  "myNestedDict" : {"names" : ["nick", "john", "mary"]}
}

myDict.clear()
myDict

In [ ]:
# empty a dictionary

myDict = {
  "integer" : 1,
  25.0 : "float",
  "myList" : [(2,4,6),(1,3,5)],
  "myNestedDict" : {"names" : ["nick", "john", "mary"]}
}

myDict = {}
myDict

In [ ]:
# empty a dictionary

myDict = {
  "integer" : 1,
  25.0 : "float",
  "myList" : [(2,4,6),(1,3,5)],
  "myNestedDict" : {"names" : ["nick", "john", "mary"]}
}

myDict = dict()
myDict

In [ ]:
# delete a dictionary

myDict = {
  "integer" : 1,
  25.0 : "float",
  "myList" : [(2,4,6),(1,3,5)],
  "myNestedDict" : {"names" : ["nick", "john", "mary"]}
}

del myDict
myDict  # error -> myDict is not defined

## Sets

*   **unordered**
*   **unindexed**
*   mutable * (only add and remove items)
*   heterogeneous
*   **do not** allow duplicate values

> Create a set

In [ ]:
# create an empty set

mySet = set()
print(type(mySet))

In [ ]:
# create a non-empty set

mySet = {1, 'Hello World', 25.0, 'Hello World', (1,2,3), True}
print(mySet)

# or

mySet = set((1, 'Hello World', 25.0, 'Hello World', (1,2,3), True))
print(mySet)

In [ ]:
# a set cannot have mutable/unhashable items (lists, sets, dictionaries)

mySet = {1, 'Hello World', [1,2,3]}  # error

> Unpack a set

In [ ]:
(a,b,c,d) = mySet
print(a,b,c,d)

(a,*b) = mySet
print(a,b)


> Add items

In [ ]:
# using the add() method

mySet.add('Another Item')
print(mySet)

mySet.add(('This',"is","a","tuple"))  # inserted as 1 item
print(mySet)

In [ ]:
# the update() method inserts the items of an iterable(list,tuple,set,string,range) into the set

mySet = set()

mySet.update([1,2,3])  # inserted as 3 items
print(mySet)

mySet.update({'This',"is","a","set"})  # inserted as 4 items
print(mySet)



> Remove items

In [ ]:
# Remove last item. Sets are unordered, so when using the 
# pop() method, you do not know which item gets removed.

mySet.pop()
mySet

In [ ]:
# if the item to remove does not exist, remove() will raise an error

mySet.remove('Random Item')
mySet

In [ ]:
# if the item to remove does not exist, discard() will NOT raise an error.

mySet.discard('Random Item')
mySet



> Join sets

In [ ]:
# keep ALL items of both sets

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union = set1.union(set2) 
print(union)

# or

union = set1 | set2
print(union)

# or

union = {*set1, *set2}  # unpacking
print(union)

In [ ]:
# keep ONLY the duplicates of both sets

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1.intersection(set2)
print(intersection)

# or

intersection = set1 & set2
print(intersection)

In [ ]:
# keep the items of the first set which are not found in the second one

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

diff = set1.difference(set2)
print(diff)

# or

diff = set1 - set2
print(diff)



> Clear or delete a set

In [ ]:
# empty a set

mySet = {1, 'Hello World', 25.0, 'Hello World', (1,2,3), True}

mySet.clear()
mySet

In [ ]:
# empty a set

mySet = {1, 'Hello World', 25.0, 'Hello World', (1,2,3), True}

mySet = set()
mySet

In [ ]:
# delete a set

mySet = {1, 'Hello World', 25.0, 'Hello World', (1,2,3), True}

del mySet
mySet  # error -> mySet is not defined

# Conditional Statements - Loops - List Comprehensions - Iteration

## Conditional Statements

In [ ]:
# If-Elif-Else statement

num = 6
if num == 0:
  print("Num equals 0")
elif num < 5 and num > 0:
  print("Num is between 0 and 5")
elif  num >= 5:
  print("Num is greater than or equal to 5")
else:
  print("Num is negative")

In [ ]:
# nested If statement

num = 4
if num > 0:
  if num < 5 and num > 0:
    print("Num is between 0 and 5")
  else:
    print("Num is greater than or equal to 5")
elif num == 0:
  print("Num equals 0")
else:
  print("Num is negative")

In [ ]:
# short hand If statement

a,b = 100,5

if a > b: print("a is greater than b")

In [ ]:
# short hand If-Else statement

num = 100

print("Num is non-negative") if num >= 0 else print("Num is negative")

## Loops

> For Loop

In [ ]:
for i in range(10):  # for(int i = 0; i < 10; i++)
  print(i)

In [ ]:
for i in range(7,10):  # for(int i = 7; i < 10; i++)
  print(i)

In [ ]:
for i in range(10,20,2):  # for(int i = 10; i < 20; i+=2)
  print(i)

> While Loop

In [ ]:
# While statement

i = 0
while i < 10:
  print(i)
  i += 1

In [ ]:
# Continue, Pass, Break statements

i = 0
while True:
  i += 1
  if i == 5:
    continue  # skips current iteration
  elif i == 10:
    break  # exits loop
  else:
    pass  # Nothing happens. It is used as a placeholder for future code
    
  print(i)

In [ ]:
# While-Else statement (else clause can be used in a For-Loop as well)
# The else clause is only executed when the while condition becomes false. 
# If you break out of the loop, or if an exception is raised, it won't be executed.

i = 0
while i < 10:
  print(i)
  i += 1
else:
  print("Now i is", i)

## List Comprehensions

In [ ]:
# List comprehensions offer a shorter syntax when you want to create
# a new list from an iterable (list, tuple, set, range, string) 

newList = [num for num in range(10)]
print(newList)

myList = [0,1,2,3,4,5,6,7,8,9]
newList = [num for num in myList]
print(newList)

myTuple = (0,1,2,3,4,5,6,7,8,9)
newList = [num for num in myTuple]
print(newList)

mySet = {0,1,2,3,4,5,6,7,8,9}
newList = [num for num in mySet]
print(newList)

myString = "Hello World"
newList = [num for num in myString]
print(newList)

In [ ]:
# Each item of the new list can be manipulated
# or set to a default before it is added to the list

newList = ['num' for num in range(10)]
print(newList)

newList = [float(num) for num in range(10)]
print(newList)

newList = [num**2 for num in range(10)]
print(newList)

In [ ]:
# list comprehensions can have conditions

newList = [num for num in range(10) if num < 4]
print(newList)

newList = [num for num in range(10) if num % 2 == 0]
print(newList)

newList = [num if num % 2 == 0 else 'not even' for num in range(10)]
print(newList)

In [ ]:
# nested list comprehensions

newList = [[num for num in range(10)] for sublist in range(3)]
print(newList)

## Iteration

### Lists

In [ ]:
# iterate over a list

myList = ['a', 'b', 'c']

[print(item) for item in myList]

# or

for item in myList:
  print(item)

In [ ]:
# iterate over a list, while keeping track of the iteration count

length = len(myList)
for i in range(length):
  print(i, myList[i])

# or

for index,item in enumerate(myList):  
  print(index, item)

In [ ]:
# iterate over a nested list

myLists = [['a', 'b', 'c'], ['A', 'B', 'C']]

[print(item) for myList in myLists for item in myList]

# or

for myList in myLists:
  for item in myList:
    print(item)

In [ ]:
# for small nested lists with sublists of the 
# same legth you can unpack each list

myLists = [['a', 'b', 'c'], ['A', 'B', 'C']]

for item1, item2, item3 in myLists:
  print(item1, item2, item3)

### Tuples

In [ ]:
# iterate over a tuple

myTuple = ('a', 'b', 'c')

[print(item) for item in myTuple]

# or

for item in myTuple:
  print(item)

In [ ]:
# iterate over a tuple, while keeping track of the iteration count

length = len(myTuple)
for i in range(length):
  print(i, myTuple[i])

# or

for index,item in enumerate(myTuple):
  print(index, item)

In [ ]:
# iterate over a nested tuple

myTuples = (('a', 'b', 'c'), ('A', 'B', 'C'))

[print(item) for myTuple in myTuples for item in myTuple]

# or

for myTuple in myTuples:
  for item in myTuple:
    print(item)

In [ ]:
# for small nested tuples with subtuples of the 
# same legth you can unpack each tuple

for item1, item2, item3 in myTuples:
  print(item1, item2, item3)

### Sets

In [ ]:
# iterate over a set

mySet = {'a', 'b', 'c'}

[print(item) for item in mySet]

# or

for item in mySet:
  print(item)

### Dictionaries

In [ ]:
# iterate over a dictionary

myDict = {'a' : 10,'b' : 15,'c' : 20}

[print(item, myDict[item]) for item in myDict]

# or

for item in myDict:
  print(item, myDict[item])

# or

for item in myDict.keys():
  print(item, myDict[item])

# or

for key,val in myDict.items():
  print(key,val)

# Functions - Importing

## Functions

In [ ]:
def my_function():
  print("Hello from a function")

my_function()

In [ ]:
def my_function(firstName):
  print("My first name is:", firstName)

my_function("John")

In [ ]:
def my_function(firstName, lastName):
  print("My full name is:", firstName, lastName)

my_function("John", "Watson")

In [ ]:
# input arguments must match function arguments

def my_function(firstName, lastName):
  print("My full name is:", firstName, lastName)

my_function("John")  # error -> missing 1 required argument

In [ ]:
# you can set a default for the arguments

def my_function(firstName="**first name wasn't given**", lastName="**last name wasn't given**"):
  print("My full name is:", firstName, lastName)

my_function()
my_function("John")  # default is overwritten
my_function("John", "Watson")  # defaults are overwritten

In [ ]:
# functions can return "results"

def my_function(fullName):
  return fullName.upper()

x = my_function("John Watson")
print(x)

> Args and Kwargs

In [ ]:
# python offers a way  to pass a variable number of arguments to a function.

print("When using *args the function will receive a tuple of arguments.")
def test_args(*args):
    print(args)

test_args("John", "Watson")
test_args("Mary", "Jane", 22, 123456789)

# or

print("\nWhen using **kwargs the function will receive a dictionary of arguments.")
def test_kwargs(**kwargs):
    print(kwargs)

test_kwargs(Firstname="John", Lastname="Watson")
test_kwargs(Firstname="Mary", Lastname="Jane", Age=22, Phone=123456789)

In [ ]:
print("When using *args there is no context about the arguments.")
def test_args(*args):
  for item in args:
    print("The ? is {}".format(item))

test_args("Mary", "Jane", 22, 123456789)


print("\nWhen using **kwargs there is some context about the arguments.")
def test_kwargs(**kwargs):
  for key,val in kwargs.items():
    print("The {} is {}".format(key, val))

test_kwargs(Firstname="Mary", Lastname="Jane", Age=22, Phone=123456789)

> Scope

In [ ]:
#  Global-Enclosing-Local scope

scope ="global"

def my_function():
  scope ="enclosing"

  def my_inner_function():
    scope ="local"
    print(scope)

  my_inner_function()
  print(scope)

my_function()
print(scope)

In [ ]:
# read a non-local/eclosing variable in local scope

def my_function():
  scope = "enclosing" 

  def my_inner_function():
    print(scope)

  my_inner_function()

my_function()

In [ ]:
# read a global variable in local scope

scope ="global"

def my_function():
  def my_inner_function():
    print(scope)

  my_inner_function()

my_function()

In [ ]:
# change a global variable in local scope

scope ="global"

def my_function():
  def my_inner_function():
    global scope
    print(scope)
    scope = "GLOBAL (changed in local scope)"

  my_inner_function()

my_function()
print(scope)

In [ ]:
# change a non-local/enclosing variable in local scope

def my_function():
  scope ="enclosing"

  def my_inner_function():
    nonlocal scope
    print(scope)
    scope = "ENCLOSING (changed in local scope)"

  my_inner_function()
  print(scope)
  
my_function()

> Useful built-in functions

In [ ]:
print("Min of 1,88,-4 is: ", min(1,88,-4))
print("Maxof 1,88,-4 is: ", max(1,88,-4))

print("The absolute value of -4 is ", abs(-4))

print("Round 4.54649 to next int", round(4.54649))
print("Round 4.54649 to 2 decimals", round(4.54649, 2))

print("Sort the letters of a string", sorted("akfuerbci"))
print("Sort a list", sorted([25,1,3,100,8,1,10000]))

In [ ]:
myList = [25,1,3,100,8,1,10000]

print("List has", len(myList)," items")
print("Min: ", min(myList))
print("Max: ", max(myList))
print("Sum: ", sum(myList))

## Importing

In [ ]:
# get access to a module’s namespace by using the module’s name as a prefix (recommended)

import math

x,y = 5, 2

print(math.pow(x,y))
print(math.remainder(x,y))

In [ ]:
# get access to a module’s namespace by using an alias as a prefix (recommended)

import math as m

x,y = 5, 2

print(m.pow(x,y))
print(m.remainder(x,y))

In [ ]:
# import all the names from a module directly in your current namespace (not recommended)

from math import *

x,y = 5, 2

print(pow(x,y))
print(remainder(x,y))

In [ ]:
# Any function with the same name will overwrite the definition of the function 
# imported from the module. This will make the imported function unusable.

from math import *

x,y = 5, 2

def pow(x,y):
  print("Wrong pow() called")

pow(x,y)

In [ ]:
# import specific names from a module directly in your current namespace (recommended for specific use cases)

from math import pow, remainder

x,y = 5, 2

print(pow(x,y))
print(remainder(x,y))

In [ ]:
# Any function with the same name will overwrite the definition of the function 
# imported from the module. This will make the imported function unusable.

from math import pow, remainder

x,y = 5, 2

def pow(x,y):
  print("Wrong pow() called")

pow(x,y)